.DS_Store
.project
.cproject
.MathematicaResources
.WolframResources
.settings
.amateras
.autotools
.externalToolBuilders
#ignore vim temp and swap files
*~
*.swp
*.swo
/build/
.idea/
*.iml
.vs/
CMakeSettings.json
Terminal Saved Output
.editorconfig
